@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .dark-purple-fade {
        @apply bg-gradient-to-b from-dark-blue-1 to-purple-1;
    }

    .white-button {
        @apply bg-white text-black rounded-lg px-4 py-1.5 font-semibold;
    }

    .pink-gradient-button {
        @apply bg-gradient-to-r from-pink to-blue text-black rounded-lg px-4 py-1.5 font-semibold;
    }
  }

html {
    font-family: var(--font-open-sans);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

body {
    background-image: linear-gradient(to bottom, #170B3B, #341948);
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

.logo {
    font-family: var(--font-oswald);
    font-size: 1.5rem;
}

.slick-prev,
.slick-next {
    position: absolute;
    bottom: -102px;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background: transparent;
    border: 2px solid white;
    border-radius: 100%;
    outline: none;
    z-index: 1;
}

.slick-prev {
    left: 46%;
    background-image: url('/images/chevron-left.svg');
}

.slick-next {
    right: 46%;
    background-image: url('/images/chevron-right.svg');
}
