@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .main-container {
        @apply w-full px-8 py-28 sm:px-16 lg:py-36;
    }

    .dark-purple-fade {
        @apply bg-gradient-to-b from-dark-blue-1 to-purple-1;
    }

    .white-button {
        @apply text-light-pink border border-light-pink rounded-lg px-4 py-1.5 font-semibold hover:bg-white hover:text-black;
    }

    .pink-gradient-button {
        @apply bg-gradient-to-r from-pink to-blue text-black rounded-lg px-4 py-1.5 font-semibold hover:bg-gradient-to-r hover:from-white hover:to-white;
    }
  }

html {
    font-family: var(--font-open-sans);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 10px;
}

body {
    background-image: linear-gradient(to bottom, #170B3B, #341948);
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

.header-mask {
    background-image: url('/images/hero-6.svg');
}

.header {
    height: 100%;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: auto !important
}

.slick-prev,
.slick-next {
    position: absolute;
    bottom: -102px;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background: transparent;
    border: 2px solid white;
    border-radius: 100%;
    outline: none;
    z-index: 1;
}

.slick-prev {
    left: 36%;
    background-image: url('/images/chevron-left.svg');
}

.slick-next {
    right: 36%;
    background-image: url('/images/chevron-right.svg');
}

div:has(.testimonial) {
    height: 100%;
}

.testimonial {
    height: inherit;
}

.scrolled {
    background-color: #170B3B;
    transition-duration: 300ms;
}
